@{
    ViewData["Title"] = "Joel Hilton Film Collection";
}
@model List<NewMovieModel>

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
</div>


<div class="container text-center col-md-4">
    <img src="img/JoelHiltonHeadshot.jpg" class="rounded img-fluid" />
</div>

<br />

<div class="container text-center">
    <a class="btn btn-primary" asp-controller="Home" asp-action="NewMovie">Add New Movie</a>
</div>

<br />

<div class="container text-center">
    <table class="table table-striped">
        <thead class="font-weight-bold">
            <tr>
                <td>Title</td>
                <td>Category</td>
                <td>Rating</td>
                <td>Year</td>
                <td>Director</td>
                <td>Edited?</td>
                <td>Lent To...</td>
                <td>Notes</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Category.CategoryName</td>
                <td>@movie.Rating</td>
                <td>@movie.Year</td>
                <td>@movie.Director</td>
                <td>@movie.Edited</td>
                <td>@movie.Lent</td>
                <td>@movie.Notes</td>
                <td><a asp-controller="Home" asp-action="Edit" asp-route-movieid="@movie.MovieID">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-movieid="@movie.MovieID">Delete</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>